@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@1,500&display=swap');
* {
  background-color: #ffe4b5;
  color: #222222;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Mono", serif;
}